.container {
  img {
    max-width: 100%;
  }

  .containerBanner {
    display: flex;
    justify-content: center;
  }

  article {
    header {
      margin-bottom: 4rem;

      h1 {
        margin-bottom: 1.5rem;
        font-size: 3rem;
        letter-spacing: -0.5px;
        color: var(--title);
      }
    }

    main {
      p {
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
        text-align: justify;

        strong {
          font-weight: 400;
          color: var(--highlight);
        }
      }

      h2 {
        margin: 2.75rem 0;
        font-size: 2.25rem;
      }
    }
  }
}
